@import url(http://fonts.googleapis.com/css?family=Open\+Sans);

blanco = #FFFFFF
negro = #000000

*
	border 0px
	margin 0px
	padding 0px

body 
	background blanco
	background-image url('../img/bg.jpg')
	height 100%
	font-family 'Open Sans', sans-serif
	font-size 16px
	font-weight 100
	margin 0
	padding 0
	width 100%

footer
	background negro
	color blanco
	height auto
	font-weight 100
	width 100%
	a
		color blanco
		text-decoration none
	a:hover
		color grey
	h6
		margin 1em 0 -2em 1em
	.colDerecha,.colIzquierda
		display inline-block
	.colDerecha
		width 55%
	.colIzquierda
		float right
		margin-top 1em
		width 10%

header 
	background rgba(0,0,0,.7)
	color blanco
	font-size 1em
	height auto
	line-height 1.6em
	margin 1.5em 0 0 0
	width 100%
	a
		color red
		text-decoration none
	.logo,.datos
		display inline-block
		vertical-align middle
		width 30%
	.datos
		float right
		margin 2em .5em 0 1em	
	.logo
		height auto
		margin-left 100px
nav
	background negro
	text-align center
	width 100%
	ul li
		display inline-block
		font-size 1em
		font-weight 100
		padding 1em 2em 1em 2em
		a
			color blanco
			text-decoration none

.banner-fijo
	height auto
	width 100%
	img 
		width 100%

.clear
	clear both

.mapa-canning
	iframe
		height 100%
		width 100% !important

.multi-img-footer
	height auto
	width 100%
	img
		width 100%

.vidriera
	height auto
	width 100%
	img
		width 100%
